* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    color: rgb(192, 185, 131);
    justify-content: space-between;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
}

header img {
    height: 20px;
}

.carousel img {
    width: 100%;
    height: 58rem;
    object-fit: cover;
}

#produto {
    display: grid;
    grid-template-columns: 100%;
}

.produtos {
    display: flex;
    grid-template-columns: repeat(3, 2%);
    column-gap: 2%;
}

.produtos img {
    height: 600px;
}

#produto h2,
#contato h2 {
    margin: 2em;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    color: rgb(192, 185, 131);
}

#contato p {
    font-size: 20px;
    margin-bottom: 2em;
}

.row {
    width: 100%;
    max-width: 100%;
}

.com-xl-5 {
    flex: 0 0 auto;
}

.contatos form {
    text-align: left;
}

.contatos form label {
    padding-left: 0.3rem;
    font-size: 20px;
    font-weight: 700;
}

.form-label {
    margin-bottom: .5rem;
}

label {
    display: inline-block;
}

.contatos form input {
    font-size: 1.4rem;
    height: 4.2rem;
    width: 32rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.contatos form button {
    border-radius: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    height: 4.5rem;
    padding: 1rem 3rem;
    width: 17rem;
    margin-top: 2.5rem;
}

footer {
    background-color: #F2F2F2;
    margin-top: 5rem;
    overflow-x: hidden;
    color: rgb(192, 185, 131);
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    header h1 {
        font-size: 3em;
    }

    .container h2 {
        font-size: 1.5em;
    }

    .container h3 {
        font-size: 1em;
    }

    #produto {
        flex-direction: column;
        max-width: 90%;
    }

    #produto h2 {
        font-size: 2em;
    }

    .produtos {
        flex-direction: column;
    }

    .produtos li {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .produtos img {
        height: 350px;
    }

    .contatos {
        max-width: 90%;
        justify-content: center;
    }

    #contato h2 {
        font-size: 2.1em;
    }

    .contatos p {
        font-size: em;
        margin-top: 1.2rem;
    }

    .contatos form div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatos form input {
        width: 100%;
    }

    footer h1 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }

    .container {
        max-width: 90%;
    }

    .produtos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 49%;
        margin-bottom: 26px;
    }

    .contatos form input {
        width: 100%;
    }

    .contatos form button {
        width: 10rem;
    }
} 